<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.adssdk">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:name=".App"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AdsSdk">

        <activity
            android:name=".OneBtnActivity_Video"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/other" />
        <activity
            android:name=".OneBtnActivity_BgBorder"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/other" />
        <activity
            android:name=".SplashActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".StartActivity_One"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/other" />
        <activity
            android:name=".StartActivity_Two"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/other" />
        <activity
            android:name=".OneBtnActivity_BgImg"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/other" />
        <activity
            android:name=".OneBtnActivity_BgVideo"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/other" />
        <activity
            android:name=".TwoBtnActivity_BgImg"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/other" />
        <activity
            android:name=".TwoBtnActivity_Video"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/other" />
        <activity
            android:name=".RowBtnActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/other" />
        <activity
            android:name=".ColumnBtnActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/other" />
        <activity
            android:name=".Slider_RecycerViewActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/other" />
        <activity
            android:name=".ChooseRowBtnActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/other" />

        <activity
            android:name=".FourBtnActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/other" />

        <activity
            android:name=".FourBtnActivity_Slider"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/other" />

        <activity
            android:name="com.lib.adssdk.Activity.QurekaActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.lib.adssdk.Activity.ExitActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.lib.adssdk.Activity.PrivacyPolicyActivity"
            android:exported="true"
            android:screenOrientation="portrait" />

    </application>

</manifest>